a {
  color: #eb4947;
}
a:hover {
  color: #e61c19;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #eb4947!important;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #eb4947;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #eb4947;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #eb4947;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #e82e2b;
  background-color: #eb4947;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #cf1917;
  background-color: #e61c19;
}
ul.social-icons >li a:hover {
  color: #eb4947;
}
.sp-page-title {
  background: #eb4947;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #eb4947;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #eb4947;
}
.sp-module .tagscloud .tag-name:hover {
  background: #eb4947;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #eb4947;
}
.search .btn-toolbar button {
  background: #eb4947;
}
.post-format {
  background: #eb4947;
}
.voting-symbol span.star.active:before {
  color: #eb4947;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #e61c19;
}
.entry-link,
.entry-quote {
  background: #eb4947;
}
blockquote {
  border-color: #eb4947;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #eb4947;
}
#sp-footer {
  background: #eb4947;
}
.sp-comingsoon body {
  background-color: #eb4947;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #eb4947;
  background-color: #eb4947;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #eb4947;
  background-color: #eb4947;
}
/***** PRESET *****/
#lt-slider .large_bold_black,
.sppb-section-title h3,
#sp-top-bar .social-icons i,
#sp-top-bar .sp-contact-info li {
    color: #eb4947!important;
}
.lt-introduction .lt-intro-sub:hover i {
    border: 5px solid #eb4947;
}
.lt-button:hover {
    border: 3px solid #eb4947;
}
.lt-button:hover,
.hikashop_cart_input_button,
.hikashop_cart_input_button:hover,
#lt-slider .btn-primary:hover {
    background: #eb4947!important;
}
.blogDate {
    background: #eb4947;
}
.lt-introduction-item:hover {
    border: 1px solid #eb4947;
}
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.projects-filter a:hover {
    background: #eb4947;
}